@charset "UTF-8";
/*Fuentes y tamaños*/
/*Colores*/
/* Portfolio imagenes*/
/* -------- Blog Body -------- */
.titular {
  padding: 0 2em;
  max-width: 1500px;
  margin: 0 auto;
}
.titular h1 {
  font-size: 40px;
}

.cover {
  margin: 0 auto;
  max-width: 1200px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 15px 0 30px 0;
}
.cover img {
  width: 100%;
}

.blog-a {
  top: 30px;
  margin: 0 auto;
  max-width: 1500px;
  grid-gap: 0.2rem;
  padding: 15px 0 90px 0;
}

.una-imagen {
  display: flow-root;
  justify-content: right;
  grid-template-columns: 100%;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em;
  text-align: center;
  grid-template-areas: "img-1" "img-2";
  padding: 2em 0 2em 0;
}
.una-imagen img {
  width: 100%;
  margin-bottom: 4em;
}

.dos-imagenes {
  display: inline-flex;
  justify-content: right;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em;
  grid-template-areas: "img-1 img-2";
  padding: 2em 0 2em 0;
}
.dos-imagenes img {
  width: 45%;
}

.blog-text {
  padding: 0 2em;
  position: relative;
  margin: 0 auto;
}

.blog {
  width: 100%;
  height: 700px;
  background-size: cover;
}
.blog img {
  width: 100%;
}

.arquetipos p {
  border-bottom: 3px solid gray;
  padding: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}

.blog-footer {
  position: relative;
  top: 50px;
  border-top: 3px solid gray;
  margin: 0 auto;
  max-width: 1200px;
}

.blog-footer p {
  padding: 50px 0 50px 0;
}

.t-mobil {
  width: 30%;
}

.presentation {
  margin: 0 auto 2.5em auto;
  width: 96vw;
  padding: 40px 0 40px;
  border-bottom: 1px solid #fff;
}

.info {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 50% 50% 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "brick-1 brick-2";
}

.info div {
  display: inline-block;
}

.descripcion {
  position: relative;
  grid-area: brick-1;
  padding: 0 3em 0 3em;
  border-right: 1px solid #fff;
}

.descripcion p {
  color: #bbbbbb;
  margin-top: 15px;
  white-space: normal;
}

.info-derecha {
  position: relative;
  grid-area: brick-2;
  padding-left: 3em;
}
.info-derecha ul {
  padding: 0;
  color: #bbbbbb;
}

.skills {
  list-style: none;
}

/* -------- Section-C -------- */
.section {
  position: relative;
  max-width: 1500px;
  display: grid;
  color: #bbbbbb;
  margin: 0 auto;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-template-areas: "sa-1 sa-2 sa-3" "sa-4 sa-5 sa-6" "sa-7 sa-8 sa-9";
}
.section h1 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 2px #fff;
}
.section div a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
}

/* -------- Seccion-a -------- */
.sc-info-box {
  background-color: #000000c5;
  width: 100%;
  height: 75%;
  margin-top: 0;
  padding-top: 100px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.sc-info-box:hover {
  opacity: 1;
  width: 100%;
  height: 75%;
  transition: 0.3s;
}

.sc-info {
  width: 35%;
  height: 67%;
  margin: 0 auto;
}
.sc-info p {
  text-align: left;
}

.s-card {
  position: relative;
  background-size: cover;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.sc-1 {
  background-image: url(../images/cem/portada.jpg);
}

.sc-2 {
  background-image: url(../images/medterial/portada.jpg);
}

.sc-3 {
  background-image: url(../images/siu/portada.jpg);
}

.sc-4 {
  background-image: url(../images/lista-espera/portada.jpg);
}

.sc-5 {
  background-image: url(../images/cem-login/portada.png);
}

.sc-6 {
  background-image: url(../images/recuadros/working.jpg);
}

.sc-7 {
  background-image: url(../images/alta-seller/portada.png);
}

.sc-8 {
  background-image: url(../images/checkout-mp/portada.jpg);
}

.sc-9 {
  background-image: url(../images/detalle-producto/portada.png);
}

.sc-10 {
  background-image: url(../images/feed-producto/1.8Home.jpg);
}

.sc-11 {
  background-image: url(../images/correos-transaccionales/portada.jpg);
}

.sc-12 {
  background-image: url(../images/coppel-kids/portada.jpg);
}

.sc-13 {
  background-image: url(../images/nerthan-ds/portada.jpg);
}

.sc-14 {
  background-image: url(../images/estrategia-vo/portada.png);
}

.sc-15 {
  background-image: url(../images/journey-app/portada.jpg);
}

.sc-16 {
  background-image: url(../images/journey-web/portada.jpg);
}

.sc-17 {
  background-image: url(../images/tab-ops/portada.jpg);
}

.sc-18 {
  background-image: url(../images/ganth/portada.png);
}

.sc-19 {
  background-image: url(../images/web-peruana/portada.jpg);
}

.sc-20 {
  background-image: url(../images/landing-mutante/portada.jpg);
}

.sc-21 {
  background-image: url(../images/cr-sistema/portada.jpg);
}

.sc-22 {
  background-image: url(../images/powerled/portada.jpg);
}

.sc-23 {
  background-image: url(../images/la-cuarta/portada.png);
}

.sc-24 {
  background-image: url(../images/koi/portada.png);
}

@font-face {
  font-family: "keep-calm";
  src: url("../fonts/KeepCalm-Medium.ttf");
}
@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/GothamMedium.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  color: #bbbbbb;
}

.titulo-sect {
  text-align: center;
}
.titulo-sect h1 {
  font-family: "MuseoModerno", cursive;
  color: #444444;
}

.txt-size {
  font-family: "gotham-light";
  color: gray;
}

.txt-size.min {
  font-size: 20px;
  line-height: 1.6;
}

.txt-size.ch {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 2px;
}

.txt-size.med {
  font-size: 30px;
}

.txt-size.ch.bold {
  font-family: "gotham-medium";
  font-size: 30px;
}

.txt-size.gde {
  font-family: "keep-calm";
  font-size: 30px;
}

/* -------- Header -------- */
header {
  max-width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  position: relative;
  padding: 2em 0 2em 0;
}
header .menu {
  color: #bbbbbb;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
}
header .menu a {
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  padding-right: 40px;
}
header .menu a:visited {
  color: #bbbbbb;
}
header .menu div {
  padding: 10px;
  cursor: pointer;
}
header .menu div:hover {
  color: #444444;
  transition: 0.4s;
}
header .social-icons {
  text-align: center;
}
header .social-icons ul {
  padding: 0;
}
header .special {
  background-image: none;
  background-size: none;
}

/* -------- Header -------- */
/* -------- Grid -------- */
.wall {
  position: relative;
  text-align: center;
  color: #bbbbbb;
  margin: 0 auto 50px auto;
  max-width: 1500px;
  min-height: 140vh;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 40% 60% 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "brick-1 brick-4 brick-4" "brick-2 brick-4 brick-4" "brick-3 brick-5 brick-5" "brick-6 brick-6 brick-6";
}

/* -------- Grid -------- */
/* -------- Párrafos a la derecha -------- */
.p-right span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.p-right span::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #bbbbbb;
  right: 0;
  bottom: -10px;
}
.p-right p {
  position: absolute;
  font-size: 20px;
  max-width: 80%;
  text-align: right;
  top: 100px;
  right: 20px;
}

/* -------- Párrafos a la derecha -------- */
/* -------- Párrafos a la izquierda -------- */
.p-left span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.p-left span::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #bbbbbb;
  left: 5px;
  bottom: -10px;
}

.p-left p {
  position: absolute;
  font-size: 14px;
  max-width: 80%;
  text-align: left;
  top: 65px;
  left: 20px;
}

/* -------- Párrafos a la izquierda -------- */
.media li {
  display: inline-block;
  font-size: 20px;
  padding: 0 30px 0 10px;
}
.media li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}
.media li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #bbbbbb;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.media li a:hover {
  color: #bbbbbb;
}
.media li .material-icons {
  font-size: 30px;
  position: relative;
  top: 3px;
}

/* -------- Media Mobile -------- */
@media (max-width: 1000px) {
  .blog-text {
    padding: 1em;
  }

  .txt-size.ch.bold {
    font-family: "gotham-medium";
    font-size: 20px;
  }

  .txt-size.med {
    font-size: 20px;
  }

  .titular {
    padding: 1em;
    font-size: 12px !important;
  }

  .blog-a {
    font-size: 12px;
  }

  .menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.1em;
  }
  .menu a {
    text-decoration: none;
  }

  .menu div {
    padding: 20px;
  }

  .wall {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas: "brick-1" "brick-2" "brick-3" "brick-4" "brick-5" "brick-6";
  }

  .wall > div > div {
    width: 40vw;
  }

  .brick-4 div {
    height: 100%;
    left: 0;
  }

  .bot-top {
    top: 255px;
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .bot-left {
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .bot-right {
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .p-right span {
    font-size: 16px;
  }
  .p-right p {
    top: 75px;
    font-size: 16px;
  }

  .p-left span {
    font-size: 16px;
  }

  .media li {
    font-size: 20px;
    padding: 0 0 0 10px;
  }
  .media li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .media li a .material-icons {
    font-size: 16px !important;
  }
}
/* -------- Media Small Screen -------- */
@media (max-width: 664px) {
  header .menu {
    font-size: 30px;
    font-weight: bold;
  }

  .dos-imagenes {
    display: inline;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, 2fr);
    grid-gap: 2em;
    grid-template-areas: "img-1" "img-2";
  }
  .dos-imagenes img {
    width: 100%;
  }

  .info-derecha {
    padding-left: 2em;
    overflow: hidden;
  }

  .descripcion {
    padding: 0 2em 0 2em;
  }

  header {
    margin: 0;
  }

  .presentation {
    width: 100vw;
  }

  .wall > div > div {
    width: 50vw;
  }

  .brick-4 div {
    height: 100%;
    left: 0;
  }

  .bot-top {
    top: 155px;
  }

  .info {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 100% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "brick-1" "brick-2";
  }
  .info .descripcion {
    border-right: none;
  }

  .section-a {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5" "sa-6" "sa-7";
  }

  .section {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5";
  }

  .section-d {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5" "sa-6";
  }
}
/* -------- Media Small Screen -------- */

/*# sourceMappingURL=all.css.map */
