/* -------- Section-C -------- */
.section{
    position: relative;
    max-width: 1500px;
    display: grid;
    color: $tipography-color;
    margin: 0 auto;
    grid-gap: 2em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,400px);
    grid-template-areas: 
        "sa-1 sa-2 sa-3"
        "sa-4 sa-5 sa-6"
        "sa-7 sa-8 sa-9";
        h1{
            font-size: $font-head-card-size;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: solid 2px $border-principal;
        }
    div{
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
}
/* -------- Seccion-a -------- */
.sc-info-box{
    background-color: $hover-box;
    width: 100%;
    height: 75%;
    margin-top: 0;
    padding-top: 100px;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    &:hover{
        opacity: 1;
        width: 100%;
        height: 75%;
        transition: .3s;
    }
}
.sc-info{
    width: 35%;
    height: 67%;
    margin: 0 auto;
    p{
        text-align: left;
    }
}
.s-card{
    position: relative;
    background-size: cover;
}
.sc-1{
    background-image: $s-1;
}
.sc-2{
    background-image: $s-2;
}
.sc-3{
    background-image: $s-3;
}
.sc-4{
    background-image: $s-4;
}
.sc-5{
    background-image: $s-5;
}
.sc-6{
    background-image: $s-6;
}
.sc-7{
    background-image: $s-7;
}
.sc-8{
    background-image: $s-8;
}
.sc-9{
    background-image: $s-9;
}
.sc-10{
    background-image: $s-10;
}
.sc-11{
    background-image: $s-11;
}
.sc-12{
    background-image: $s-12;
}
.sc-13{
    background-image: $s-13;
}
.sc-14{
    background-image: $s-14;
}
.sc-15{
    background-image: $s-15;
}
.sc-16{
    background-image: $s-16;
}
.sc-17{
    background-image: $s-17;
}
.sc-18{
    background-image: $s-18;
}
.sc-19{
    background-image: $s-19;
}
.sc-20{
    background-image: $s-20;
}
.sc-21{
    background-image: $s-21;
}
.sc-22{
    background-image: $s-22;
}
.sc-23{
    background-image: $s-23;
}
.sc-24{
    background-image: $s-24;
}