$header-bg: url(../images/arrows-header.jpg);

/*Fuentes y tamaños*/
$tipografia-1: "keep-calm";
$tipografia-2: "gotham-light";
$tipografia-3: "gotham-medium";
$font-normal-size: 20px;
$font-head-card-size: ($font-normal-size * 1.2);
$font-h1: ($font-normal-size * 2);
$font-h2: ($font-normal-size * 1.5);
$font-small-size: ($font-normal-size * 0.8);
$font-x-small-size: ($font-normal-size * 0.6);

/*Colores*/
$header-bg: rgb(247, 247, 247);
$header-color-font: #bbbbbb;
$header-color-font-secondary: #444444;
$footer-bg: grey;
$body-bg-color: rgb(256 256 256);
$menu-bg: rgb(17, 172, 51);
$menu-bg-hover: rgb(0, 57, 90);
$tipography-color: #bbbbbb;
$hover-box: #000000c5;
$border-principal: #fff;
$brick-containt: #0000009d;
$hover-bg: rgb(88, 218, 108);
$brick-hover: rgba(0, 21, 34, 0.692);

    /* Portfolio imagenes*/
    //Salud digna

$s-1: url(../images/cem/portada.jpg);                          // Tablero cem
$s-2: url(../images/medterial/portada.jpg);                    // Medterial
$s-3: url(../images/siu/portada.jpg);                          // Siu mama
$s-4: url(../images/lista-espera/portada.jpg);                 // Lista de espera
$s-5: url(../images/cem-login/portada.png);                    // CEM Login
$s-6: url(../images/recuadros/working.jpg);                    // Projecto sin anunciar

    //Coppel

$s-7: url(../images/alta-seller/portada.png);                      // Alta de seller
$s-8: url(../images/checkout-mp/portada.jpg);                      // Checkout
$s-9: url(../images/detalle-producto/portada.png);                 // PDP Marketplace
$s-10: url(../images/feed-producto/1.8Home.jpg);                   // Feed producto
$s-11: url(../images/correos-transaccionales/portada.jpg);         // Correos Transaccionales
$s-12: url(../images/coppel-kids/portada.jpg);                     // Coppel Kids

    //Viva organica

$s-13: url(../images/nerthan-ds/portada.jpg);                  // Nerthan Design System
$s-14: url(../images/estrategia-vo/portada.png);               // Estrategia VO
$s-15: url(../images/journey-app/portada.jpg);                 // Journey App
$s-16: url(../images/journey-web/portada.jpg);                 // Journey Web
$s-17: url(../images/tab-ops/portada.jpg);                     // Tablero de monitoreo
$s-18: url(../images/ganth/portada.png);                       // Manage Ganth

    //Clientes

$s-19: url(../images/web-peruana/portada.jpg);                 // Web peruana
$s-20: url(../images/landing-mutante/portada.jpg);             // Landing La cuarta
$s-21: url(../images/cr-sistema/portada.jpg);                  // CR culiacan 
$s-22: url(../images/powerled/portada.jpg);                    // Power led mexico
$s-23: url(../images/la-cuarta/portada.png);                   // La cuarta tienda en linea
$s-24: url(../images/koi/portada.png);                         // Koi