$header-bg: url(../images/arrows-header.jpg);

/*Fuentes*/
$tipografia-1: "keep-calm";
$tipografia-2: "gotham-light";
$tipografia-3: "gotham-medium";
$font-normal-size: 20px;
$font-head-card-size: ($font-normal-size * 1.2);
$font-h1: ($font-normal-size * 2);
$font-h2: ($font-normal-size * 1.5);
$font-small-size: ($font-normal-size * 0.8);
$font-x-small-size: ($font-normal-size * 0.6);

/*Colores*/
$header-bg: rgb(247, 247, 247);
$header-color-font: #bbbbbb;
$header-color-font-secondary: #444444;
$footer-bg: grey;
$body-bg-color: rgb(256 256 256);
$menu-bg: rgb(17, 172, 51);
$menu-bg-hover: rgb(0, 57, 90);
$tipography-color: #bbbbbb;
$hover-box: #000000c5;
$border-principal: #fff;
$brick-containt: #0000009d;
$hover-bg: rgb(88, 218, 108);
$brick-hover: rgba(0, 21, 34, 0.692);

    /* Portfolio imagenes*/
    //Salud digna

$s-1: url(../images/cem/tablero-cem.jpg);                          // Tablero cem
$s-2: url(../images/cem-login/login-cem-1.jpg);                    // CEM Login
$s-3: url(../images/siu/siu-mama-2.jpg);                           // Siu mama
$s-4: url(../images/lista-espera/analiticas-tematic-1.jpg);        // Lista de espera
$s-5: url(../images/medterial/medterial-1.jpg);                    // Medterial web
$s-6: url(../images/recuadros/working.jpg);                        // Projecto sin anunciar

    //Coppel

$s-7: url(../images/alta-seller/D1.0.1.png);                       // Alta de seller
$s-8: url(../images/checkout-mp/checkout.jpg);                     // Checkout
$s-9: url(../images/detalle-producto/D1LDPListaFiltros.png);       // PDP Marketplace
$s-10: url(../images/feed-producto/1.8Home.jpg);                       // Feed producto
$s-11: url(../images/recuadros/working.jpg);                       // Correos Transaccionales
$s-12: url(../images/recuadros/working.jpg);                       // Coppel Kids

    //Viva organica

$s-13: url(../images/alta-seller/D1.0.1.png);                       // Nerthan Design System
$s-14: url(../images/checkout-mp/checkout.jpg);                     // Estrategia VO
$s-15: url(../images/detalle-producto/D1LDPListaFiltros.png);       // Journey Web
$s-16: url(../images/recuadros/working.jpg);                        // Journey App
$s-17: url(../images/recuadros/working.jpg);                        // Tablero de monitoreo
$s-18: url(../images/recuadros/working.jpg);                        // Manage Ganth

    //Clientes

$s-19: url(../images/alta-seller/D1.0.1.png);                       // Web peruana
$s-20: url(../images/checkout-mp/checkout.jpg);                     // Aldea digital
$s-21: url(../images/detalle-producto/D1LDPListaFiltros.png);       // +ORDEN Adaptación
$s-22: url(../images/recuadros/working.jpg);                        // CR culiacan
$s-23: url(../images/recuadros/working.jpg);                        // Power led mexico
$s-24: url(../images/recuadros/working.jpg);                        // Wallet